.crystal{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    margin: 15px;
    padding: 20px;
    float: left;
    background: transparent url(../mysteryBox.jpg) no-repeat center;
    background-size: 100%;

}

.crystals{float: left;
    margin: 15px;
    padding: 20px;
    /* background-image: url('../mysteryBox.jpg'); */


}